<!doctype html>
<html>
<head>
    <title>Angular 2 Universal Starter</title>
    <meta charset="UTF-8">
    <meta name="description" content="Angular 2 Universal">
    <meta name="keywords" content="Angular 2,Universal">
    <meta name="author" content="PatrickJS">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <base href="/">
    <link rel="stylesheet" href="http://localhost:4044/styles/main.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--&lt;!&ndash; FontAwesome for md-icon demo. &ndash;&gt;-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  -->
    <!--<link rel="stylesheet" href="<%= staticDomain %>/res/styles/classic.css">-->
    <!--<link rel="stylesheet" href="<%= staticDomain %>/res/styles/classic.date.css">-->

   <!-- <link rel="stylesheet" href="http://localhost:4044/styles/5c7e247005.min.css"/>
-->
    <!-- 1. Load libraries -->
   <!-- <script src="http://localhost:4044/res/scripts/fsrdradmn/e8acc63b1e.min.js"></script>
-->
    <script src="http://localhost:4044/scripts/fsrdradmn/ee2247f3c0.min.js"></script>

   <!-- <script src="http://localhost:4044/scripts/fsrdradmn/5c7e247005.min.js"></script>
-->

    <!-- Load the Angular Material 2 stylesheet -->
    <!-- <link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">-->



</head>
<body>


<app>
    <div id="app-loader">
        <div class="overlay"></div>

        <span class="loading-text">Loading</span>

        <span class="loading-spinner">
                <i class="one"></i>
                <i class="two"></i>
                <i class="three"></i>
            </span>



    </div>
</app>
<script async src="/scripts/main.bundle.js"></script>
</body>
</html>